{% load static %}
<style>
#copyright {
    line-height: 1.6;
    border-radius: 4px;
    background: #00000080;
    color: #ffffff;
    font-size: 12px;
    position: fixed;
    padding: 0 6px;
    bottom: 5px;
    z-index: 10;
}
</style>
<script>
    $(function(){
        $("#copyright").css('left', ($(window).width() - $('#copyright').width()) / 2);
    });
</script>
<footer class="footer">
    <span id="copyright">&copy; 2019 &nbsp; <i>lavap.com</i> &nbsp; All Rights Reserved.</span>
</footer>
