{% load static %}
<!DOCTYPE html>
<html lang = "ja">
    {% include './frontparts/head.html' %}
    <script src="https://maps.googleapis.com/maps/api/js?v=weekly&key=AIzaSyCdMdUIlD6zNpY00DVxORtfx3lRl-siKhw"></script>
    <body>
        <style>
        body {
            overflow: hidden;
        }
        </style>
        {% include './frontparts/header.html' %}
        {% include './frontparts/nav.html' %}
        <main class="main">
            <div class="view_box">
                {% block contents %}
                {% endblock %}
            </div>
        </main>
        {% include './frontparts/footer.html' %}
        <!-- {% include './frontparts/pop.html' %} -->
        <!-- {% include './frontparts/alert.html' %} -->
    </body>
    <!-- AIzaSyAVKqwFdrt9h-kQllQXHLZBVjqS4wpVAIc -->
</html>
